#poemContainer {
  height: 100%;
  margin: 0 10% 0 10%;
}

#spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloadContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 0;
}

#reloadButton {
  font-size: 30px;
  cursor: pointer;
}

.mainContainer {
  width: 100%;
  height: 100%;
}
