#poem {
  justify-content: center;
  align-items: center;
  background-color: red;
}

#poemContainer {
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 350px;
  height: 300px;
  padding: 5px;
}

#poemContainer button {
  position: relative;
  left: 100%;
  bottom: -10px;
}
