.poemContainer {
  height: 100%;
  margin: 0 10% 0 20%;
  background: all 500ms ease-in-out, color 1000ms ease-in-out;
}

#spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloadContainer {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  margin: 10px 10px 10px 0;
}

#reloadButton {
  font-size: 30px;
  width: auto;
  height: auto;
  padding: 20px;
  position: relative;
  max-width: 400px;
}

#likeButton {
  padding: 2% 2%;
  border: none;
  border-radius: 8px;
  color: var(--text);
  background: var(--foreground);
  display: inline-block;
  transition: var(--transition);
  outline: none;
}

#likeButton:hover {
  color: #ffffff;
  background: #f05558;
  border-color: #f05558;
  transition: all 0.4s ease 0s;
}

.mainContainer {
  width: 100%;
  height: 100%;
  background: all 500ms ease-in-out, color 1000ms ease-in-out;
}

.profileContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: relative;

  transition: 0.1s;
  box-shadow: var(--box-shadow);
  border-radius: var(--borderRadius);
  background: var(--foreground);
  transition: var(--transition);
  color: var(--text);
}

.profilePeople {
  display: relative;
  width: 40%;
  margin: 2em;
}

.profileAnimation {
  position: relative;
  margin: -25% 0 0 0;

  z-index: 2;
  width: 50%;
  top: 25%;
}

.profileText {
  position: absolute;
  bottom: 20%;
  margin: 0 0 -10% 0;
  z-index: 3;
  font-size: 4em;
  font-weight: 500;
}

.poem {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  transition: 0.1s;
  box-shadow: var(--box-shadow);
  border-radius: var(--borderRadius);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.poem p {
  margin: 2px;
}

.animations {
  position: absolute;
  z-index: 2;
}

#stars1 {
  width: 30%;
  top: 10%;
  align-self: flex-end;
  animation: twinkle 3s ease infinite;
}

#cloud1 {
  width: 30%;
  top: 10%;
  animation: pulse 5s infinite alternate;
}

#sun1 {
  width: 30%;
  top: 10%;
  left: 20px;
  align-self: flex-start;
  stroke-width: 20;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  transform-origin: 50% 50%;
  animation: spin 50s linear infinite, sun-glow 3s 0s linear infinite;
}

#spaceship1 {
  width: 30%;
  top: 10%;
  resize: both;
  size: 50%;
  animation: orbit 6s linear infinite;
}

#heart1 {
  z-index: 1;
  position: absolute;
  top: 0%;
  width: 50%;
  left: 25%;
  max-height: 100%;
}

/* SPINNER from  https://loading.io/css/ */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
