.darkmode {
  width: 36px;
  max-height: inherit;
  max-width: inherit;
}

.darkmode img {
  width: 100%;
  cursor: pointer;
}

.logo {
  position: relative;
  padding: 1%;
  width: 100px;
}

.logo img {
  width: 100%;
  cursor: pointer;
}
