.header {
  position: sticky;
  display: flex;
  background-color: #393e46;
  z-index: 1;
  justify-content: space-between;
}

.darkmode {
  width: 5%;
}

.darkmode img {
  width: 100%;
  padding: 1%;
  cursor: pointer;
}

.logo {
  padding: 1%;
  width: 5%;
}

.logo img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
