.darkmode {
  width: 36px;
  margin-right: 1em;
}

.darkmode img {
  width: 100%;
  cursor: pointer;
}

.logo {
  position: relative;
  margin-left: 1em;
  width: 100px;
}

.logo img {
  width: 100%;
  cursor: pointer;
}

.headerInput {
  display: flex;
}

.tinderName {
  color: var(--text);
  transition: var(--transition);
}

@media (max-width: 400px) {
  .tinderName {
    font-size: 16px;
  }
}

@media (max-width: 374px) {
  .tinderName {
    display: none;
  }
}
.errorString {
  text-decoration: underline red;
}
