.profileView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin: 1em;
  justify-items: stretch;
}

.profilePicture {
  height: 50vh;
}

.poem {
  display: flex;
  justify-content: center;
}

#display {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
