.insideContainer {
  position: relative;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: grid;
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  margin-bottom: 5px;
}

.svg {
  grid-area: 1 / 1 / 2 / 2;
}

#text {
  position: absolute;
  margin: auto;
  z-index: 2;
  bottom: 0%;
  left: 0%;
  text-align: center;
  width: 100%;
  font-size: 5vw;
}

#person {
  z-index: 1;
  width: 80%;
  margin: auto;
}

#cloud {
  z-index: 0;
	position:relative;
	top: calc(5%);
	animation: move 5s infinite alternate;
}

@keyframes move {
	from {transform: translateX(2%)}
	to {transform: translateX(60%)}
}

